#collabspot-sidebar {
    width: 260px;
    height: 700px;
    position: fixed;
}

#collabspot-sidebar-header {
    height: 50px;
}

#collabspot-sidebar-body {
    height: 600px;
}

#collabspot-sidebar-footer {
    height: 50px;
}
