<script id="template-sidebar" type="text/template">
    <div id="collabspot-sidebar">
        <div id="collabspot-sidebar-header">

        </div>
        <div id="collabspot-sidebar-body">
            
        </div>
        <div id="collabspot-sidebar-footer">

        </div>
    </div>
</script>
